<launch>
  <!-- 1) Spustenie ROS-serial bridge pre Arduino -->
  <node
    pkg="rosserial_python"
    type="serial_node.py"
    name="ultrasonic_serial"
    output="screen"
  >
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600"/>
  </node>

  <!-- 2) Výpis dát z témy priamo v tomto termináli -->
  <node
    pkg="rostopic"
    type="rostopic"
    name="ultrasonic_echo"
    output="screen"
    args="echo /ultrasonic_range"
  />
</launch>

